type vendor_hal_hisi_activity_recognition_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_antitheft_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_display_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_hwfactoryinterface_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_hwfs_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_libteec_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_otherdevices_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_perf_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_signtool_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_hisi_touchscreen_hwservice, hwservice_manager_type, protected_hwservice;
