# HwBinder IPC from client to server, and callbacks
binder_call(vendor_hal_hisi_antitheft_client, vendor_hal_hisi_antitheft_server)
binder_call(vendor_hal_hisi_antitheft_server, vendor_hal_hisi_antitheft_client)

hal_attribute_hwservice(vendor_hal_hisi_antitheft, vendor_hal_hisi_antitheft_hwservice)
